:root {
  /* Color variables */
  --dark-cyan: hsl(185, 75%, 39%);
  --desaturated-blue: hsl(229, 23%, 23%);
  --grayish-blue: hsl(227, 10%, 46%);
  --dark-gray: hsl(0, 0%, 59%);
}

/* Default styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.name, .stats {
  font-size: 18px;
}

.age {
  font-weight: 400;
}

/* mobile layout styles */
.profile {
  width: 350px;
}

.profile-details {
  text-align: center;
}

.profile-picture {
  border-radius: 50%;
  border: .4rem solid white; 
  margin-top: -4rem;
  margin-bottom: 1rem;
}

